body{
    width: 900px;
    box-shadow: 10px 10px 5px #00004d;
}
h1{
	color:#00004d;
}
h2{
	color:#00004d;
}
h3{
    color:#00004d;
    text-align: center;
}
header{
    text-align: center;
    background-image: url("C:/Users/Pierre Lapalut/Documents/20-21_ocres_web_tp1/20-21_ocres_web_tp1/OIP.jpg");
}
#nav{
    text-align: center; 
    background-color: #c9c9fc;
    padding: 50px; 
}
.container{
    background-color: #e6e6ff;
    border-style: solid;
    border-color: #00004d;

}
section{
    margin-left: 100px;
}
#scroll {
	margin-left: auto;
	margin-right: auto;
    width: 720px;
    height: 700px;
    overflow: hidden;
}
#scroll .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}
#scroll .slide {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 700px;
}